body {
    background-color: rgb(255, 178, 191);
    color: white;
    max-width: 900px;
    margin: auto;
}

header {
    margin: 35 px 0;
    font-size: 24px;
}

section.singer{
    text-align: center;
    background-image: url("https://unsplash.com/photos/black-and-gray-microphone-on-black-stand-QrqeusbpFMM")
}

a{
    color: rgb(158, 27, 158);
}